*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: typori;
    scroll-behavior: smooth;
}
@font-face {
    font-family: azonix;
    src: url(./tipografia/Azonix.otf);
}
@font-face {
    font-family: plateia;
    src: url(./tipografia/Plateia\ Bold.ttf);
}
@font-face {
    font-family: typori;
    src: url(./tipografia/Typori-Regular.ttf);
}

h1{
    font-family: azonix;
    font-size: 64px;
    line-height: 76.8px;
}   

h2{
    font-family: azonix;
    font-size: 54px;
    line-height: 64.8px;
}

h3{
    font-family: plateia;
    font-size: 44px;
    line-height: 52.8px;
}

h4{
    font-family: plateia;
    font-size: 34px;
    line-height: 40.8px;
}

p{
    font-family: typori;
    font-size: 24px;
    line-height: 28.8px;
}

/* header */

.logo{
    color: rgb(222, 222, 222);
    font-family: azonix;
    font-size: 42px;
}


/* parte 1 */
.parte1{
    width: 100%;
    height: calc(100vh - 120px);
}
.bgParte1{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(./media/fondo\ universo\ nasa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.presentacion{
    padding: 250px 20px 0px 20px;
    color: rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.presentacion div h1{
    font-size: 44px;
        line-height: 75px;
        text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.presentacion div h2{
    font-size: 26px;
        line-height: 75px;
        text-shadow: 2px 2px 10px rgb(0, 0, 0);
}


.presentacion .space{
    font-family: azonix;
    color: black;
    text-shadow: 4px 4px 10px rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    font-size: 54px;
    line-height: 75px;
    animation-name: space;
    animation-duration: 0.55s;
    animation-timing-function: linear;
}

.cutPageP1{
    background-color: black;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.956);
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.904);
}

/* Parte 2 */
.parte2{
    height: min-content;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(44, 44, 44), rgb(0, 0, 0));
}

/* Titulo de secciones */

/* Carta container */
.card{
    margin: 10px;
}
/* BotonP1 "show More" */

.botonP1{
    color: rgb(222, 222, 222);
    background-color: #001c33;
    border: 2px solid black;
    text-align: center;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 2px;
    text-decoration: none;
    box-shadow: 2px 2px 6px black;

}
.botonP1:hover{
    filter: brightness(1.4);
    text-decoration: none;
    color: rgb(222, 222, 222);
}


/* Seccion 1 About Moon | Margaret Hamilton | Apollo Program | Astronauts*/

.tituloSeccion1{
    color: rgb(222, 222, 222);
}

.cuerpoSeccion1{
    font-size: 20px;
    color: rgb(222, 222, 222);
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Cut Pag2 */

.cutPage2{   
    height: 120px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}


/* footer */
footer{
    color: rgb(222, 222, 222);
    background-color:rgba(0, 0, 0, 0.956);
    height: min-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-family: azonix;
    font-size: 34px;
}

.redes{
    font-size: 32px;
    letter-spacing: 10px;
    padding-bottom: 10px;
}
.redes i:hover{
    color: #380138;
}

#twitter{
    text-decoration: none;
    color: rgb(235, 235, 235);
}

#instagram{
    text-decoration: none;
    color: rgb(235, 235, 235);
}

#linkedin{
    text-decoration: none;
    color: rgb(235, 235, 235);
}


/* page 2 "Seccion 1" */
.pg2{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(1, 18, 29, 0.904), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
}

.containerTituloP2{
    padding-top: 170px;
}


/* page 3 "Margaret Hamilton" */



.pg3{
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.966), rgba(1, 2, 48, 0.918),  rgba(8, 8, 8, 0.966));
    width: 100%;
    height: min-content;
    margin: -95px 0px 0px 0px;
}

.containerCutPage1P3{
    padding: 195px 0px 0px 0px;
}

.cutPage1P3{
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.956);
    box-shadow: 2px 2px 4px rgba(243, 243, 243, 0.34);
}

.containerCutPage2P3{
    padding-bottom: 100px;
}

.cutPage2P3{
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.956);
    box-shadow: 2px 2px 4px rgba(243, 243, 243, 0.34);
}


/* Page 4 "Apollo Program" */
.pg4{
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.966), rgb(44, 25, 1),  rgba(8, 8, 8, 0.966));
    padding-top: 105px;
    height: min-content;
    color: rgb(222, 222, 222);
}

.cutpage1P4{
    height: 50px;
    width: 100%;
    background-color: rgba(153, 151, 151, 0.699);
    box-shadow: 2px 2px 4px rgba(243, 243, 243, 0.705);
}


.cutpage2P4{
    height: 50px;
    width: 100%;
    background-color: rgba(153, 151, 151, 0.699);
    box-shadow: 2px 2px 4px rgba(243, 243, 243, 0.705);
}
.postionCutPage2P4{
    padding-bottom: 100px;
}

/* page 5 "Astronauts*/
.pg5{
    background-image: linear-gradient(to bottom, rgb(5, 5, 5), rgba(1, 26, 7, 0.952), rgb(5, 5, 5));
    margin-top: -95px;
    color: rgb(222, 222, 222);
    padding-top: 150px;
    padding-bottom: 150px;
    height: max-content;
}
.bio{
    color: rgb(222, 222, 222);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    box-shadow: 2px 2px 10px rgb(19, 19, 19);
    margin-bottom: 10px;
    padding: 2px;
}
.bio:hover{
    color: rgb(222, 222, 222);
    filter: brightness(1.1);
    box-shadow: 4px 4px 10px rgb(19, 19, 19);
}


/* inicio */

@media (min-width: 800px){
    .presentacion div h2{
        font-size: 44px;
        line-height: 75px;
    }
}
@media (max-width: 607px){
    .cuerpoConcept{
        font-size: 22px;
    }
}

/* Seccion 1 */

/* Seccion 2 carta */

/* Apollo */

/* Astronauts */
