.fondoAP{
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.966),rgb(48, 5, 5),  rgba(8, 8, 8, 0.966));
    width: 100%;
    height: 100%;
}

.containerTituloPA{
    padding: 183px 20px 100px 20px;
    display: flex;
    justify-content: center;
    h3{
        @include titulocenter;
    }
}

.containerCuerpoPA{
    padding: 0px 20px 100px 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p{
        font-family: $fontfamily3;
        font-size: $fontsize3;
        line-height: $lineheight3;
        margin-top: 50px;
        background-color: rgba(16, 16, 16, 0.374);
        padding: 5px 20px 5px 20px;
        height: min-content;
        width: 600px;
        text-align: justify;
        border-radius: 8px;
    }

    .imgPA{
            margin: 20px 10px 20px 10px;
        
        img{
            width: 100%;
            height: auto;
            filter: brightness(0.9);
        }
    }
}
.containerCuerpoPA{
    @for $incremento from 1 through 4 {
        .incremento-#{$incremento} {
            box-shadow: -2px 3px 6px * $incremento rgba(255, 255, 255, 0.568);
            border: 1px * $incremento solid rgba(222, 222, 222, 0.274);
        }
    }
}




.containerBotonApollo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 75px;
    
    a:hover{
        filter: brightness(1.3);
        transform: scale(1.2);
        box-shadow: $shadowRadiusB;
    }
    
    a{
    background-color: #ffffff5d;
    border: 2px solid rgb(151, 151, 151);
    text-align: center;
    padding: 7px 14px 7px 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 2px;
    text-decoration: none;
    box-shadow: $shadowRadiusLightB;
    transform: scale(1.1);
    }
}