.fondo{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../media/fondo\ universo\ nasa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    .presentacion{
            font-family: $fontfamily1;
            line-height: 75px;
            padding: 350px 0px 350px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            h2{    
                font-size: $fontsize1;
                text-shadow: $shadowRadiusLightW;
            }
            h2 span{
                color: black;
                text-shadow: $shadowRadiusW;
                display: flex;
                justify-content: center;
                font-size: 48px;
                animation-name: space;
                animation-duration: 0.55s;
                animation-timing-function: linear;
                animation-delay: 0.1s;
            }
            @keyframes space{
                0%{
                    opacity: 0;
                }
                25%{
                    opacity: 0.25;
                }
                50%{
                    opacity: 0.50;
                    transform: scale(1.12);
                }
                75%{
                    opacity: 0.65;
                }
                100%{
                    opacity: 1;
                    transform: scale(1);
                }
            }            
        }
    
    .cutPageP1{
        @include cutpage;
    }
    .cartas{
        height: max-content;
        padding-bottom: 60px;
        width: 100%;
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(46, 33, 3), rgb(0, 0, 0));    
    
        .bgTituloSecciones{
            display: flex;
            justify-content: center;        
            h2{
                @include titulocenter;
                margin-top: 80px;
                margin-bottom: 100px;
            }
        }
        .ContainerCarta{
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            height: auto;
            margin-bottom: 100px;

            div:hover{
                filter: brightness(1);
                box-shadow: -12px 12px 12px rgb(9, 9, 9, 0.904);
                transform: rotate3d(1,1,0,13deg);
            }
            div{
                height: 350px;
                width: 400px;
                background-color: rgba(0, 0, 0, 0.411);
                border: 1px solid rgba(238, 234, 6, 0.356);
                border-radius: 20px;
                padding: 20px 20px 20px 20px;
                margin: 30px 30px 30px 30px;
                box-shadow: $shadowBotLeftB;
                text-align: center;
                display: flex;
                justify-content:space-around;
                align-items: center;
                flex-direction: column;
                filter: brightness(0.85);
                transition: 0.25s;

                h1{
                    font-size: 24px;
                    text-shadow: $shadowRadiusLightW;
                    font-family: $fontfamily2;
                    line-height: $lineheight2;
                }
                p{
                    font-family: $fontfamily3;
                    font-size: $fontsize4;
                    line-height: $lineheight4;
                }
                a{
                    font-family: $fontfamily3;
                    font-size: $fontsize6;
                    background-color: $colorDark;
                    border: 1px solid rgba(238, 234, 6, 0.356);
                    text-align: center;
                    padding: 4px 4px 4px 4px;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 2px;
                    text-decoration: none;
                    box-shadow: $shadowRadiusLightW;
                    }
                a:hover{
                    filter: brightness(1.4);
                    transform: scale(1.01);
                    box-shadow: $shadowRadiusB;
                }
            }
        }
    }
    .cutPage2{
        @include cutpage2;
    }
    .containerConcept {
        @if $concept == conceptIn{
            @include conceptIn;
        }
    
        @else if $concept == conceptOut{
            @include conceptOut;
        }
    }
    
}

footer{
    font-family: $fontfamily1;
    font-size: $fontsize2;
    background-color:rgba(2, 2, 2, 0.956);
    height: min-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .redes i:hover{
        color: #6d4a22;
    }
    .redes{
        letter-spacing: 10px;
        padding-bottom: 10px;
        color: rgb(235, 235, 235);

        a{
            text-decoration: none;
        }
    }
}
