* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgb(222, 222, 222);
}
* ::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(12, 12, 12);
}
* ::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 172, 0.84);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.568);
}

@font-face {
  font-family: azonix;
  src: url(../tipografia/Azonix.otf);
}
@font-face {
  font-family: plateia;
  src: url(../tipografia/Plateia\ Bold.ttf);
}
@font-face {
  font-family: typori;
  src: url(../tipografia/Typori-Regular.ttf);
}
.fondo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../media/fondo\ universo\ nasa.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .presentacion {
  font-family: azonix;
  line-height: 50.4px;
  padding: 350px 0px 350px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main .presentacion h1 {
  font-size: 42px;
  line-height: 75px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
}
main .presentacion h2 {
  font-size: 26px;
  line-height: 75px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
}
main .presentacion h2 span {
  color: black;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: center;
  font-size: 42px;
  line-height: 75px;
  animation-name: space;
  animation-duration: 0.55s;
  animation-timing-function: linear;
  animation-delay: 0.1s;
}
@keyframes space {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.12);
  }
  75% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
main .cutPageP1 {
  background-color: black;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.956);
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.904);
}
main .cartas {
  height: max-content;
  padding-bottom: 60px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(46, 33, 3), rgb(0, 0, 0));
}
main .cartas .bgTituloSecciones {
  display: flex;
  justify-content: center;
}
main .cartas .bgTituloSecciones h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
  margin-top: 80px;
  margin-bottom: 100px;
}
main .cartas .ContainerCarta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-bottom: 100px;
}
main .cartas .ContainerCarta div:hover {
  filter: brightness(1);
  box-shadow: -12px 12px 12px rgba(9, 9, 9, 0.904);
  transform: rotate3d(1, 1, 0, 13deg);
}
main .cartas .ContainerCarta div {
  height: 500px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.303);
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  box-shadow: -6px 6px 12px rgba(9, 9, 9, 0.904);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: brightness(0.9);
  transition: 0.25s;
}
main .cartas .ContainerCarta div h4 {
  font-size: 26px;
  font-family: plateia;
  line-height: 31.2px;
}
main .cartas .ContainerCarta div p {
  font-family: typori;
  font-size: 20px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .cartas .ContainerCarta div a {
  background-color: #351d01;
  border: 2px solid black;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
}
main .cartas .ContainerCarta div a:hover {
  filter: brightness(1.4);
  transform: scale(1.01);
  box-shadow: 0px 0px 12px rgba(9, 9, 9, 0.904);
}
main .cutPage2 {
  background-color: black;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.956);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.904);
}
main .containerConcept {
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(32, 23, 2), rgb(0, 0, 0));
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 100px 0px;
}
main .containerConcept h4 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
}
main .containerConcept p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  height: 100%;
  text-align: center;
  width: 80%;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.568);
  background-color: rgba(201, 201, 201, 0.164);
}

footer {
  font-family: azonix;
  font-size: 26px;
  background-color: rgba(2, 2, 2, 0.956);
  height: min-content;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
footer .redes i:hover {
  color: #6d4a22;
}
footer .redes {
  letter-spacing: 10px;
  padding-bottom: 10px;
  color: rgb(235, 235, 235);
}
footer .redes a {
  text-decoration: none;
}

header {
  z-index: 1;
  position: fixed;
  width: 80%;
  top: 0px;
  right: 10%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.829);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px 5px 25px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 12px rgba(9, 9, 9, 0.904);
}
header div {
  font-family: azonix;
  font-size: 40px;
}
header nav .menu a img:hover {
  filter: brightness(1.1);
  transform: scale(1.09);
}
header nav .menu a img {
  position: relative;
  height: 65px;
  width: 65px;
  filter: drop-shadow(0px 0px 12px rgba(9, 9, 9, 0.904));
  animation-timing-function: linear;
}
header nav .menu .menuDesplegable {
  display: none;
  position: absolute;
  width: max-content;
  right: 0%;
  top: 82px;
  width: 385px;
  background-color: rgba(0, 0, 0, 0.782);
  padding: 15px 15px 0px 15px;
  box-shadow: 0px 0px 12px rgba(9, 9, 9, 0.904);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.782);
}
header nav .menu .menuDesplegable a {
  text-decoration: none;
}
header nav .menu .menuDesplegable a h2:hover {
  transform: scale(1.04);
  filter: brightness(1);
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
}
header nav .menu .menuDesplegable a h2 {
  font-family: plateia;
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0px 4px 8px 4px;
  background-color: rgba(255, 255, 255, 0.192);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
  filter: brightness(0.9);
  transition: 0.3s;
  text-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
}

.menu:hover > .menuDesplegable {
  display: block;
  animation-name: desplegable;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes desplegable {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.fondoAM {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(1, 34, 54, 0.952), rgb(0, 0, 0));
  width: 100%;
  height: max-content;
}

.containerTituloAM {
  padding: 183px 20px 100px 20px;
  display: flex;
  justify-content: center;
}
.containerTituloAM h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
}

.containerSeccion1AM {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px 100px 20px;
}
.containerSeccion1AM .containerImgAM {
  padding: 0px 10px 0px 10px;
}
.containerSeccion1AM .containerImgAM img {
  height: auto;
  width: 100%;
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
  filter: brightness(1.3);
  margin-bottom: 60px;
}
.containerSeccion1AM p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  background-color: rgba(0, 0, 0, 0.075);
  height: 600px;
  width: 600px;
  padding: 10px;
  overflow: auto;
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
}
.containerSeccion1AM p::-webkit-scrollbar {
  width: 8px;
}
.containerSeccion1AM p::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, 0.84);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.568);
}

.containerTituloVideo {
  margin: 100px 10px 100px 10px;
  display: flex;
  justify-content: flex-start;
  font-family: plateia;
  font-size: 26px;
}

.containerVideoMoon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.containerVideoMoon video {
  border: 1px solid rgba(0, 0, 0, 0.637);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.568);
}

.containerCuerpoVideo {
  padding: 0px 20px 100px 20px;
}
.containerCuerpoVideo p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  background-color: rgba(255, 255, 255, 0.062);
  height: auto;
  width: 100%;
  padding: 10px;
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
}

.fondoMH {
  background-image: linear-gradient(to bottom, rgb(8, 8, 8), rgba(2, 61, 53, 0.918), rgb(8, 8, 8));
  width: 100%;
  height: 100%;
}

.containerTituloP3 {
  padding: 183px 20px 100px 20px;
  display: flex;
  justify-content: center;
}
.containerTituloP3 h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
}

.containerImgMargaret {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.containerImgMargaret img {
  width: 300px;
  height: auto;
  border: 1px solid rgba(222, 222, 222, 0.808);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
}

.containerCuerpoMargaret {
  display: flex;
  justify-content: center;
}
.containerCuerpoMargaret p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  margin: 0px 40px 100px 40px;
}

.containerIframeMargaret {
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 100px 20px 50px 20px;
}
.containerIframeMargaret iframe {
  border: 1px solid rgba(0, 0, 0, 0.849);
  box-shadow: 6px -6px 12px rgba(9, 9, 9, 0.904);
  filter: brightness(0.8);
}
.containerIframeMargaret iframe:hover {
  filter: brightness(1);
}

.containerSubTituloMargaret h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
}

.gridContainerMargaret {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 300px 300px;
  margin-top: 100px;
  padding-bottom: 100px;
  grid-gap: 25px;
}
.gridContainerMargaret .gridMH {
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
  margin: 5px;
}
.gridContainerMargaret .gridMargaret1:hover {
  transform: scale(1.1);
}
.gridContainerMargaret .gridMargaret1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../media/item1.jpg);
  background-position: top center;
  background-size: cover;
  transition: 0.3s;
}
.gridContainerMargaret .gridMargaret2:hover {
  filter: grayscale(0%);
  filter: brightness(0.8);
}
.gridContainerMargaret .gridMargaret2 {
  grid-column: 2/4;
  grid-row: 1/2;
  background-image: url(../media/item2.jpg);
  background-position: right center;
  background-size: cover;
  filter: grayscale(75%);
}
.gridContainerMargaret .gridMargaret3:hover {
  filter: grayscale(0%);
  filter: brightness(0.7);
}
.gridContainerMargaret .gridMargaret3 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url(../media/item3.jpg);
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
}
.gridContainerMargaret .gridMargaret4:hover {
  transform: scale(1.1);
}
.gridContainerMargaret .gridMargaret4 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../media/item4.jpg);
  background-position: center center;
  background-size: cover;
  transition: 0.3s;
}

@media (max-width: 975px) {
  .gridContainerMargaret {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    padding: 0px 10px 100px 10px;
    grid-gap: 20px;
  }
}
.fondoAP {
  background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.966), rgb(48, 5, 5), rgba(8, 8, 8, 0.966));
  width: 100%;
  height: 100%;
}

.containerTituloPA {
  padding: 183px 20px 100px 20px;
  display: flex;
  justify-content: center;
}
.containerTituloPA h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
}

.containerCuerpoPA {
  padding: 0px 20px 100px 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.containerCuerpoPA p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  margin-top: 50px;
  background-color: rgba(16, 16, 16, 0.374);
  padding: 5px 20px 5px 20px;
  height: min-content;
  width: 600px;
  text-align: justify;
  border-radius: 8px;
}
.containerCuerpoPA .imgPA {
  margin: 20px 10px 20px 10px;
}
.containerCuerpoPA .imgPA img {
  width: 100%;
  height: auto;
  filter: brightness(0.9);
}

.containerCuerpoPA .incremento-1 {
  box-shadow: -2px 3px 6px rgba(255, 255, 255, 0.568);
  border: 1px solid rgba(222, 222, 222, 0.274);
}
.containerCuerpoPA .incremento-2 {
  box-shadow: -2px 3px 12px rgba(255, 255, 255, 0.568);
  border: 2px solid rgba(222, 222, 222, 0.274);
}
.containerCuerpoPA .incremento-3 {
  box-shadow: -2px 3px 18px rgba(255, 255, 255, 0.568);
  border: 3px solid rgba(222, 222, 222, 0.274);
}
.containerCuerpoPA .incremento-4 {
  box-shadow: -2px 3px 24px rgba(255, 255, 255, 0.568);
  border: 4px solid rgba(222, 222, 222, 0.274);
}

.containerBotonApollo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 75px;
}
.containerBotonApollo a:hover {
  filter: brightness(1.3);
  transform: scale(1.2);
  box-shadow: 0px 0px 12px rgba(9, 9, 9, 0.904);
}
.containerBotonApollo a {
  background-color: rgba(255, 255, 255, 0.3647058824);
  border: 2px solid rgb(151, 151, 151);
  text-align: center;
  padding: 7px 14px 7px 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
  transform: scale(1.1);
}

.fondoAS {
  background-image: linear-gradient(to bottom, rgb(5, 5, 5), rgba(19, 8, 37, 0.952), rgb(5, 5, 5));
  color: rgb(222, 222, 222);
  width: 100%;
  height: 100%;
}

.containerTituloAS {
  padding: 183px 20px 100px 20px;
}
.containerTituloAS h3 {
  font-family: plateia;
  font-size: 26px;
  width: max-content;
  background-color: rgba(226, 226, 226, 0.178);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  padding: 10px 20px 20px 20px;
  border: 1px solid rgba(241, 241, 241, 0.767);
  border-top-left-radius: 4px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.568);
  margin: 0px 0px 0px 0px;
}

.containerCuerpoAS {
  display: flex;
  justify-content: center;
}
.containerCuerpoAS p {
  font-family: typori;
  font-size: 22px;
  line-height: 26.4px;
  margin: 0px 20px 100px 20px;
}

.containerGrid {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 300px 300px 300px;
  padding-bottom: 100px;
  grid-gap: 30px;
}
.containerGrid .grid:hover {
  filter: brightness(1);
  box-shadow: 0px 0px 12px rgba(9, 9, 9, 0.904);
  transform: scale(1.1);
}
.containerGrid .grid {
  border: 2px solid rgb(19, 19, 19);
  border-radius: 12px;
  filter: brightness(0.85);
  transition: 0.3s;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.3s;
}
.containerGrid .grid a {
  text-decoration: none;
}
.containerGrid .grid .bio:hover {
  filter: brightness(1.1);
  transform: scale(1.01);
  box-shadow: 0px 0px 8px rgba(9, 9, 9, 0.904);
}
.containerGrid .grid .bio {
  font-family: typori;
  color: rgb(222, 222, 222);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 10px;
  width: min-content;
  height: min-content;
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.904);
  margin-bottom: 10px;
  padding: 2px;
}
.containerGrid .Neil-Armstrong-grid {
  background-image: url("../media/Neil-Armstrong.jpg");
  background-size: cover;
}
.containerGrid .Buzz-Aldrin-grid {
  background-image: url("../media/Buzz-Aldrin.jpg");
  background-size: cover;
}
.containerGrid .Charles-Conrad-grid {
  background-image: url("../media/Charles-Conrad.jpg");
  background-size: cover;
}
.containerGrid .Alan-Bean-grid {
  background-image: url("../media/Alan-Bean.jpg");
  background-size: cover;
}
.containerGrid .Alan-Shepard-grid {
  background-image: url("../media/Alan-Shepard.jpg");
  background-size: cover;
}
.containerGrid .Ed-Mitchell-grid {
  background-image: url("../media/Ed-Mitchell.jpg");
  background-size: cover;
}
.containerGrid .Dave-Scott-grid {
  background-image: url("../media/Dave-Scott.jpg");
  background-size: cover;
}
.containerGrid .Jim-Irwin-grid {
  background-image: url("../media/Jim-Irwin.jpg");
  background-size: cover;
}
.containerGrid .John-Young-grid {
  background-image: url("../media/John-Young.jpg");
  background-size: cover;
}
.containerGrid .Charles-Duke-grid {
  background-image: url("../media/Charles-Duke.jpg");
  background-size: cover;
}
.containerGrid .Eugene-Cernan-grid {
  background-image: url("../media/Eugene-Cernan.jpg");
  background-size: cover;
}
.containerGrid .Harrison-Schmitt-grid {
  background-image: url("../media/Harrison-Schmitt.jpg");
  background-size: cover;
}
.containerGrid .Neil-Armstrong-grid {
  grid-column: 1/2;
  grid-row: 1/2;
  background-position: center top;
}
.containerGrid .Buzz-Aldrin-grid {
  grid-column: 2/3;
  grid-row: 1/2;
  background-position: center top;
}
.containerGrid .Charles-Conrad-grid {
  grid-column: 3/4;
  grid-row: 1/2;
  background-position: center center;
}
.containerGrid .Alan-Bean-grid {
  grid-column: 4/5;
  grid-row: 1/2;
  background-position: center top;
}
.containerGrid .Alan-Shepard-grid {
  grid-column: 1/2;
  grid-row: 2/3;
  background-position: center top;
}
.containerGrid .Ed-Mitchell-grid {
  grid-column: 2/3;
  grid-row: 2/3;
  background-position: center top;
}
.containerGrid .Dave-Scott-grid {
  grid-column: 3/4;
  grid-row: 2/3;
  background-position: center top;
}
.containerGrid .Jim-Irwin-grid {
  grid-column: 4/5;
  grid-row: 2/3;
  background-position: center top;
}
.containerGrid .John-Young-grid {
  grid-column: 1/2;
  grid-row: 3/4;
  background-position: center top;
}
.containerGrid .Charles-Duke-grid {
  grid-column: 2/3;
  grid-row: 3/4;
  background-position: center center;
}
.containerGrid .Eugene-Cernan-grid {
  grid-column: 3/4;
  grid-row: 3/4;
  background-position: center top;
}
.containerGrid .Harrison-Schmitt-grid {
  grid-column: 4/5;
  grid-row: 3/4;
  background-position: center top;
}

@media (max-width: 1131px) {
  .containerGrid {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 300px 300px 300px 300px;
    grid-gap: 30px;
  }
  .containerGrid .Neil-Armstrong-grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .containerGrid .Buzz-Aldrin-grid {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .containerGrid .Charles-Conrad-grid {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .containerGrid .Alan-Bean-grid {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .containerGrid .Alan-Shepard-grid {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .containerGrid .Ed-Mitchell-grid {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .containerGrid .Dave-Scott-grid {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .containerGrid .Jim-Irwin-grid {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .containerGrid .John-Young-grid {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .containerGrid .Charles-Duke-grid {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .containerGrid .Eugene-Cernan-grid {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .containerGrid .Harrison-Schmitt-grid {
    grid-column: 3/4;
    grid-row: 4/5;
  }
}
@media (max-width: 850px) {
  .containerGrid {
    justify-content: space-around;
    grid-template-columns: repeat(2, 205px);
    grid-template-rows: 255px 255px 255px 255px 255px 255px;
    grid-gap: 20px;
  }
  .containerGrid .Neil-Armstrong-grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .containerGrid .Buzz-Aldrin-grid {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .containerGrid .Charles-Conrad-grid {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .containerGrid .Alan-Bean-grid {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .containerGrid .Alan-Shepard-grid {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .containerGrid .Ed-Mitchell-grid {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .containerGrid .Dave-Scott-grid {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .containerGrid .Jim-Irwin-grid {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .containerGrid .John-Young-grid {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .containerGrid .Charles-Duke-grid {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .containerGrid .Eugene-Cernan-grid {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .containerGrid .Harrison-Schmitt-grid {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

/*# sourceMappingURL=style.css.map */
