// Diseño general

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: rgb(222, 222, 222);
    
    // scrollbar
    ::-webkit-scrollbar{
        width: 8px;
        background-color: rgb(12, 12, 12);
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(172, 172, 172, 0.84);
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.568)
    }
}

// variables Tipografias | Medidas de fuentes | Shadows

@font-face {
    font-family: azonix;
    src: url(../tipografia/Azonix.otf);
}
@font-face {
    font-family: plateia;
    src: url(../tipografia/Plateia\ Bold.ttf);
}
@font-face {
    font-family: typori;
    src: url(../tipografia/Typori-Regular.ttf);
}

$fontfamily1: azonix; 
$fontfamily2: plateia;
$fontfamily3: typori;

$fontsize1: 42px;
$fontsize2: 26px;
$fontsize3: 22px;
$fontsize4: 20px;
$fontsize5: 18px;
$fontsize6: 16px;

$lineheight1:50.4px;
$lineheight2:31.2px;
$lineheight3:26.4px;
$lineheight4:24px;

// Colors
$colorLight: rgba(233, 233, 233, 0.377);
$colorDark: rgba(2, 2, 2, 0.61);
$colorGold: rgba(212, 175, 55, 0.459);
$colorBrown: rgba(94, 53, 7, 0.644);
$colorPurple: rgba(44, 5, 48, 0.829);


// Shadows Black
$shadowBotB: 0px 6px 10px rgba(9, 9, 9, 0.904);
$shadowbotRightB: 6px 6px 12px rgba(9, 9, 9, 0.904);
$shadowBotLeftB: -6px 6px 12px rgb(9, 9, 9, 0.904);
$shadowTopB: 0px -6px 10px rgba(9, 9, 9, 0.904);
$shadowTopRightB: 6px -6px 12px rgba(9 ,9 ,9, 0.904);
$shadowTopLeftB: -6px -6px 12px rgb(9, 9, 9, 0.904);
$shadowRadiusB: 0px 0px 12px rgba(9, 9, 9, 0.904);
$shadowRadiusLightB: 0px 0px 6px rgba(9, 9, 9, 0.904);
// Shadows White
$shadowBotW: 0px 6px 10px rgba(255, 255, 255, 0.568);
$shadowbotRightW: 4px 6px 12px rgba(255, 255, 255, 0.568);
$shadowBotLeftW: -4px 6px 12px rgba(255, 255, 255, 0.568);
$shadowTopW: 0px -6px 10px rgba(255, 255, 255, 0.568);
$shadowTopRightW: 6px -4px 12px rgba(255, 255, 255, 0.568);
$shadowTopLeftW: -6px -4px 12px rgba(255, 255, 255, 0.568);
$shadowRadiusW: 0px 0px 12px rgba(255, 255, 255, 0.568);
$shadowRadiusLightW: 0px 0px 6px rgba(255, 255, 255, 0.568);


// Cajas personalizadas
@mixin cutpage {
    background-color: black;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.956);
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.904);
}
@mixin cutpage2 {
    background-color: black;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.956);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.904);
}
@mixin titulocenter {
    font-family: $fontfamily2;
    font-size: $fontsize2;
    width: max-content;
    background-color: rgba(226, 226, 226, 0.178);
    text-align: center;
    padding: 10px 20px 20px 20px;
    border: 1px solid rgba(241, 241, 241, 0.767);
    border-top-left-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 4px;
    box-shadow: $shadowBotW;
}
@mixin tituloleft {
    font-family: $fontfamily2;
    font-size: $fontsize2;
    width: max-content;
    background-color: rgba(226, 226, 226, 0.178);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    padding: 10px 20px 20px 20px;
    border: 1px solid rgba(241, 241, 241, 0.767);
    border-top-left-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 4px;
    box-shadow: $shadowBotW;
}
@mixin subtitulo {
    margin: 100px 10px 100px 10px;
    display: flex;
    justify-content: flex-start;
    font-family: $fontfamily2;
    font-size: $fontsize2;
}



// concept diseño IN | OUT 

$concept: conceptOut;

@mixin conceptIn {
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(32, 23, 2), rgb(0, 0, 0));  
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 100px 0px;
    
    h4{
    @include tituloleft;
    }
    p{
        font-family: $fontfamily3;
        font-size: $fontsize3;
        line-height: $lineheight3;
        height: 100%;
        text-align: center;
        width: 80%;
        padding: 20px 20px 20px 20px;
        border: 1px solid  rgb(222, 222, 222);
        border-radius: 15px;
        box-shadow: $shadowRadiusW;
        background-color: rgba(201, 201, 201, 0.164);
    }
}
@mixin conceptOut {
    background-color: rgba(0, 0, 0, 0.603);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 100px 0px 100px 0px;
    
    h4{
    @include tituloleft;
    }
    p{
        font-family: $fontfamily3;
        font-size: $fontsize3;
        line-height: $lineheight3;
        height: min-content;
        text-align: center;
        align-self: center;
        width: 80%;
        padding: 10px 10px 10px 10px;
        background-color: rgba(169, 240, 240, 0.205);
        border: 1px solid rgba(0, 0, 0, 0.664);
        border-radius: 12px;
        box-shadow: $shadowRadiusB;
    }
}

// Importaciones: Inicio | header | Footer | About Moon | Margaret Hamilton | Apollo Program | Astronauts

@import "_pagprincipal.scss";
@import "_header.scss";
@import "_aboutmoon.scss";
@import "_margaret.scss";
@import "apolloprogram.scss";
@import "_astronauts.scss";